<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de medico</h1>
    <ul>
        <li> Nombre: {{ pac.nombre}} </li>
        <li> Apellido: {{ pac.apellidos }}</li> 
        <li> tipo_identificacion: {{ pac.tipo_identificacion }}</li> 
        <li> numero_identificacion: {{ pac.numero_identificacion }}</li> 
        <li> altura: {{ pac.altura }}</li> 
        <li> tipo_sangre: {{ pac.tipo_sangre }}</li> 
    </ul>
    
</body>
</html>